<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내자산 현황</title>
</head>

<script src="./main.js" type="text/javascript"></script>
<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href="style.css">
<body>
    <!--탭메뉴-->
    <div class="tab">
        <ul class="tabnav">
            <li><a href="#tab01">거래내역</a></li>
            <li><a href="#tab02">자산정보</a></li>
        </ul>
        <div class="tabcontent">
             
            <div id="tab01"></div>
            <div id="tab02">tab2 content</div>
        </div>
    </div>
    <div class="buttonF">
        <button class="button1" id="moreBtn">더보기</button>
    </div>
    <div class="modal-bg" style="display:none;"></div>
    <div class="modal-wrap" style="display:none;">
        <header class="popupHeader">
            <h1 class="popupH1">팝업</h1>
            <button class="popupClose">닫기</button>
        </header>
        <div class="popupDiv"></div>
    </div>
</body>
</html>