<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myasset.myasset.mapper.MyAssetMapper">
    <select id="selectTrList" parameterType="com.myasset.myasset.vo.MyAssetVo" resultType="com.myasset.myasset.vo.MyAssetVo">
        SELECT 
            ASSET_NM assetNm,
            ASSET_CATG_NM assetCatgNm,
            TR_METHOD trMethod,
            TR_AMT trAmt,
            TR_PRICE trPrice,
            TR_TOTPRICE trTotprice,
            TR_COST trCost,
            TR_RESULT trResult,
            TR_EARNRATE trEarnrate,
            TR_DATE trDate
        FROM TRADE_RECORD
        WHERE 1 = 1
        <if test="assetNm != null and assetNm != ''">
        AND ASSET_NM = #{assetNm}
        </if>
        <if test="trMethod != null and trMethod != ''">
        AND TR_METHOD = #{trMethod}
        </if>
        <choose>
            <when test="sortType == 'asc'">
                <if test="sortNm == 'date'">
                ORDER BY TR_DATE
                </if>
                <if test="sortNm == 'assetNm'">
                ORDER BY ASSET_NM
                </if>
            </when>
            <otherwise>
                <if test="sortNm == 'date'">
                ORDER BY TR_DATE desc
                </if>
                <if test="sortNm == 'assetNm'">
                ORDER BY ASSET_NM desc
                </if>
            </otherwise>
        </choose>
        
        <if test="recordCountPerPage != null and recordCountPerPage != ''">
        LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
        </if>
    </select>

    <select id="selectTrListCnt" parameterType="com.myasset.myasset.vo.MyAssetVo" resultType="String">
        SELECT COUNT(*)
        FROM TRADE_RECORD
        WHERE 1 = 1
        <if test="assetNm != null and assetNm != ''">
        AND ASSET_NM = #{assetNm}
        </if>
        <if test="trMethod != null and trMethod != ''">
        AND TR_METHOD = #{trMethod}
        </if>
        ORDER BY TR_DATE
    </select>

    <select id="selectMyAssetInfo" parameterType="com.myasset.myasset.vo.MyAssetVo" resultType="com.myasset.myasset.vo.MyAssetVo">
        SELECT *
        FROM MYASSETS
    </select>

    <select id="selectAssetCatgList" parameterType="com.myasset.myasset.vo.MyAssetVo" resultType="com.myasset.myasset.vo.MyAssetVo">
        SELECT 
        asset_catg_nm assetCatgNm
        ,asset_catg_cd assetCatgCd
        FROM ASSET_CATG
    </select>

    <insert id="insertTrRecord" parameterType="com.myasset.myasset.vo.MyAssetVo">
        INSERT INTO `myasset`.`trade_record` (`asset_nm`, `asset_catg_nm`, `tr_method`, `tr_amt`, `tr_price`, `tr_totprice`, `tr_cost`
        <if test="trMethod == '매도'">
        ,`tr_result`, `tr_earnrate`
        </if>
        , `tr_date`) 
        VALUES (#{assetNm}, #{assetCatgNm}, #{trMethod}, #{trAmt}, #{trPrice}, #{trTotprice}, #{trCost}
        <if test="trMethod == '매도'">
        , #{trResult}, #{trEarnrate}
        </if>
        , #{trDate});
    </insert>
    
</mapper> 